<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641409149431-uhsmc8hqro2vo7c34rr187igtrgrul2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641409149431-uhsmc8hqro2vo7c34rr187igtrgrul2d</string>
	<key>API_KEY</key>
	<string>AIzaSyCdNfwoEBj0M7oJ64__tXZwZbhY_ecUlyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>641409149431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cubitTest</string>
	<key>PROJECT_ID</key>
	<string>plantingapp-ca2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>plantingapp-ca2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641409149431:ios:41be574f751b5a149226f2</string>
</dict>
</plist>